# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
mcpscope

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
*.db
dashboard/node_modules/

# Dependency directories
vendor/

# Go workspace file
go.work
dashboard/node_modules/
